

.header {
  padding: 20px;
  background: linear-gradient(265.28deg, #590046 5.95%, rgba(50, 13, 42, 0.978721) 45.4%, rgba(0, 0, 0, 0.95) 98.65%, rgba(0, 0, 0, 0.95) 98.65%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  align-items: flex-start;
}

.logoContainer {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logoText {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.3s;
  color: cornsilk;
}

.logo {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 1.5rem;
  margin-left: 10px;
}

.navbarList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-right: 20px;
}

.navbarLink {
  color: cornsilk;
  text-decoration: none;
  font-size: 1rem;
}

.navbarLink {
  transition: color 0.3s ease;
}

.navbarLink:hover {
  color: #ff9900;
  /* Altere para a cor desejada */
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoText {
    margin-top: 10px;
  }

  .navbarList {
    margin-top: 10px;
  }

  .navbarItem {
    margin-right: 0;
    margin-bottom: 10px;
  }
}